html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;  
}

::-webkit-scrollbar-track {
  background: #abf5ab;  
}

::-webkit-scrollbar-thumb {
  background: #029c02;
}

::-webkit-scrollbar-thumb:hover {
  background: #006400;  
}

::selection {
  background-color: 	#006400;
  color: black; 
}

.table-bordered {
  border: 1px solid #98FB98; 
}

.table th,
.table td {
  border-color: #98FB98; 
}


@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 900;
  src: local('Fira Sans Condensed'), 
       url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@900&display=swap') format('truetype');
}

.fira-sans-condensed-black {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
}





