.lista-eventos {
    width: 100%; 
    margin-top: 20px; 
}

.lista-eventos h5 {
    text-align: center;
    margin-bottom: 10px;
}

.lista-eventos ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.lista-eventos li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; 
    background-color: #f8f9fa; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.lista-eventos li:hover {
    background-color: #b9ffbd; 
}

.lista-eventos .evento-selecionado {
    background-color: #05740a; 
    color: white;
    font-weight: bold;
}