.table-bordered {
    border: 1px solid #98FB98; 
  }
  
.table th,
.table td {
    border-color: #98FB98; 
}

.fira-sans-condensed-black {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
}

.modal-content-code {
    font-family: 'Courier New', Courier, monospace; 
    white-space: pre-wrap; 
    word-break: break-all; 
}

.custom-checkbox .form-check-input:checked {
    background-color: green;
    border-color: black;
}
  
.custom-checkbox .form-check-input {
    border-color: black;
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25); 
}

.btn-save {
    width: 100px;
    height: 50px;
    margin-right: 5px;
}
  
.btn-save-disabled {
    background-color: grey;
    cursor: default;
}

.btn-save-enabled {
    background-color: #198754;
    cursor: pointer;
}

.btn-revert {
    width: 100px;
    height: 50px;
    margin-right: 5px;
}
  
.btn-revert-disabled {
    background-color: grey;
    cursor: default;
}

.btn-revert-enabled {
    background-color: #dc3545;
    cursor: pointer;
}
  
  
  