.table-bordered {
    border: 1px solid #98FB98; 
  }
  
.table th,
.table td {
    border-color: #98FB98; 
}

.fira-sans-condensed-black {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
}


  
  